.container {
	width: 256px;
	border-radius: 12px;
	padding: 16px;
	background: #fcfcfd;
	box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.15);
}

.item {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	transition: 0.3s;

	&.active {
		.icon {
			color: #005994;
		}

		.box {
			& > p:nth-child(1) {
				color: #005994;
			}

			& > p:nth-child(2) {
				color: #005994;
			}
		}
	}

	&:hover {
		.icon {
			color: #005994;
		}

		.box {
			& > p:nth-child(1) {
				color: #005994;
			}

			& > p:nth-child(2) {
				color: #005994;
			}
		}
	}

	&.logout {
		cursor: pointer;
		user-select: none;

		&:hover {
			.icon {
				color: #ee464c;
			}

			.box {
				& > p:nth-child(1) {
					color: #ee464c;
				}

				& > p:nth-child(2) {
					color: #ee464c;
				}
			}
		}
	}
}

.icon {
	color: #777e90;
}

.box {
	& > p:nth-child(1) {
		color: #353945;
		font-size: 14px;
		font-weight: 600;
	}

	& > p:nth-child(2) {
		color: #777e90;
		font-size: 12px;
		font-weight: 400;
	}
}

.line {
	width: 100%;
	height: 1px;
	background: #e6e8ec;
	margin: 8px 0;
}
