.container {
	position: relative;
	background: var(--gray-light);
	width: 40px;
	height: 20px;
	border-radius: 23px;
	cursor: pointer;
	user-select: none;

	&.checked {
		background: var(--primary-btn);

		&::after {
			left: 23px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 3px;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background: var(--light);
		box-shadow: 0px 0px 1px var(--gray-light), 0px 0.5px 2px var(--gray-light);
		transition: 0.2s;
	}
}
