@import '../../../styles/variables';

.container {
	overflow: auto;
	white-space: nowrap;
	padding-bottom: 10px;

	&::-webkit-scrollbar {
		height: 3px;
	}
	&.outline {
		z-index: 1;

		.item {
			position: relative;
			min-width: 60px;
			cursor: pointer;
			user-select: none;
			display: inline-block;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			padding: 0;
			border-radius: 0;
			background: transparent;
			color: #777e90;
			border: 1px solid transparent;

			& + .item {
				margin-left: 16px;
			}

			&.active {
				color: var(--primary);
				background: transparent;
				border: 1px solid transparent;
			}

			&.active {
				&::after {
					position: absolute;
					bottom: -4px;
					left: 0;
					right: 0;
					content: '';
					height: 2px;
					background-color: var(--primary);
				}
			}
		}
	}
}

.item {
	min-width: 60px;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 24px;
	border-radius: 8px;
	background: var(--bg-light);
	color: var(--neutrals-4);
	border: 1px solid var(--border-color);

	& + .item {
		margin-left: 8px;
	}

	&.active {
		color: #fff;
		background: var(--gradient-blue-red);
		border: 1px solid var(--gradient-blue-red);
	}
}

@media (max-width: $widthMobile) {
	.item {
		font-size: 13px;
	}
}

@media (min-width: $widthMobile) and (max-width: $widthTablet) {
	.item {
		font-size: 14px;
	}
}
