.container {
	position: relative;
	width: 100%;
	padding: 10px 16px;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
	color: #000;
	margin-bottom: 3px;
	font-weight: 500;
	z-index: 10;
	transition: 0.3s;

	&.active {
		background-color: var(--primary-btn);
		color: var(--light);

		&:hover {
			background-color: var(--primary-btn);
			color: var(--light);
		}
	}

	&:hover {
		background-color: var(--primary-btn);
		color: var(--light);
	}
}

@media (max-width: 1023px) {
	.container {
		font-size: 13px;
	}
}
