$bg-input: #fff;
$bg-focus-input: #fff;
$bg-btn: #005994;
$bg-disable-input: #f2f2f2;

$color-btn: #fff;
$color-placeholder: #b4b5bc;
$color-clean: #29303c;
$color-focus: #066bb1;
$color-done: #1cad4c;
$color-error: #e5493f;

$border-input: #dae1ea;
$border-disable-input: #f2f2f2;

$border-radius: 8px;
$padding-input: 10px 20px;
$font-size-input: 16px;

.container {
	.label {
		font-size: $font-size-input;
		font-weight: 500;
		margin-bottom: 8px;
		display: block;
	}

	.textarea {
		width: 100%;
		min-height: 140px;
		resize: none;
		border-radius: $border-radius;
		border: 1px solid $border-input;
		background-color: $bg-input;
		font-size: $font-size-input;
		font-weight: 500;
		padding: $padding-input;

		&::placeholder {
			font-weight: 500;
			color: $color-placeholder;
		}
		&.focus {
			border: 1px solid $color-focus;
		}
		&.done {
			background-color: $bg-focus-input;
			border: 1px solid $color-done;
		}
		&.error {
			background-color: $bg-focus-input;
			border: 1px solid $color-error;
		}

		&.readOnly {
			background-color: $bg-disable-input;
			border: 1px solid $border-disable-input;
		}
	}

	.errorText {
		margin-left: 6px;
		font-size: 12px;
		color: $color-error !important;
	}
}
