@import '../../../styles/variables';

.container {
	position: relative;
	width: 540px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0px 4px 10px 0px rgba(81, 103, 155, 0.2);
	padding: 40px 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	color: #2f3d50;
	font-size: 24px;
	font-weight: 600;
	margin-top: 20px;
}

.note {
	color: #5b6178;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 8px;
}

.groupBtn {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
}

.close {
	cursor: pointer;
	user-select: none;
	position: absolute;
	top: 24px;
	right: 24px;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

@media (max-width: $widthMobile) {
	.container {
		width: 100vw;
		padding: 20px 24px;
		border-radius: 12px;
	}
}
