.icon {
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 100%;

	&.success {
		background-color: #06d7a0;
		color: #06d7a0;
	}

	&.info {
		background-color: #4bc9f0;
		color: #4bc9f0;
	}
	&.warn {
		background-color: #ffd167;
		color: #ffd167;
	}
	&.error {
		background-color: #ee464c;
		color: #ee464c;
	}
}
