.wrapper {
	display: flex;
	align-items: center;

	.text {
		margin-left: 8px;
		color: #202939;
		font-size: 14px;
		font-weight: 500;
	}
}

.container {
	position: relative;
	height: 10px;
	border-radius: 6px;
	overflow: hidden;

	.percent {
		position: absolute;
		left: 0;
		height: 100%;
		border-radius: 6px;
	}
}
