$bg: #fff;
$bg-focus: #fff;
$bg-btn: #2367ed;
$bg-disable: #f4f5f6;
$bg-color: var(--primary-btn);

$color-active: var(--primary-btn);
$color-text: var(--dark);
$color-btn: #fff;
$color-placeholder: #b4b5bc;
$color-clean: #29303c;
$color-focus: #2367ed;
$color-done: #2cae39;
$color-error: #e93a3a;

$border: #e1e5ed;
$border-disable: #e1e5ed;

$border-radius: 8px;
$padding: 10px 20px;
$font-size: 16px;

.tippy {
	width: 100%;
}

.search_group {
	min-height: 42px;
	font-weight: 500;
	font-size: 14px;
	color: $color-text;
	padding: 0px 12px;
	display: flex;
	align-items: center;
	gap: 4px;
	user-select: none;
	transition: 0.2s;
	border-radius: $border-radius;
	background-color: $bg-color;
	display: flex;
	align-items: center;
	cursor: text;
	transition: 0.3s;
	margin-bottom: 12px;
	background-color: #f4f6fa;

	input {
		height: 100%;
		display: block;
		flex: 1;
		outline: none;
		border: none;
		background-color: transparent;
		padding: 4px;

		&::placeholder {
			color: #9ea5c0;
			opacity: 1;
		}
	}
}

.container {
	flex: 1;

	label {
		font-size: $font-size;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		display: block;
		margin-bottom: 8px;
	}

	& + .container {
		margin-top: 20px;
	}
}

.select {
	position: relative;
	user-select: none;
}

.value {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 44px;
	font-size: $font-size;
	padding: $padding;
	border: 1px solid $border;
	border-radius: $border-radius;
	cursor: pointer;
	background-color: $bg;
	font-weight: 500;

	.text {
		flex: 1;
		margin: 0;

		&.placeholder {
			color: $color-placeholder;
		}
	}

	.icon {
		color: var(--text-color-secondary-3);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
	}

	&.active {
		background-color: $bg-focus;
		border: 1px solid $color-active;

		.icon {
			color: $color-focus;
			transform: rotate(180deg);
			transition: all 0.3s;
		}
	}

	&.readOnly {
		cursor: inherit;
		background-color: $bg-disable;
		border: 1px solid $border-disable;
	}
}

.containerOption {
	width: 100%;
	border-radius: $border-radius;
	padding: 6px;
	border: 1px solid $border;
	background-color: $bg;
	max-height: max-content;
}

.main {
	max-height: 320px;
	overflow: auto;
}
