@import "../../../../../styles/variables";

$width-tab: 256px;

.container {
  height: fit-content;
  width: 100%;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.isAction {
    align-items: flex-start;
  }
}

.top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.box_icon,
.box_icon_mobile {
  cursor: pointer;
  user-select: none;
  width: 18px;
  height: 18px;
  transition: 0.3s;

  &:active {
    transform: scale(0.9);
  }
}

.box_icon_mobile {
  display: none;
}

.icon {
  width: 100%;
  height: 100%;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.main_action {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 6px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;

  &:active {
    transform: scale(0.9);
  }

  & > p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.box_noti {
  cursor: pointer;
  user-select: none;
  position: relative;
  width: fit-content;
  height: fit-content;
  transition: 0.3s;

  &:active {
    transform: scale(0.9);
  }

  .box_count {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .count {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #16bea0;
  }
}

.box_infor {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;

  &:active {
    transform: scale(0.95);
  }

  .name {
    color: var(--light);
    font-size: 18px;
    font-weight: 500;
    user-select: none;
  }
}

.box_avatar {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

// Responsive mobile
.main_mobile {
  width: $width-tab;
  z-index: 100;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: -100%;
  bottom: 0;
  transition: 0.3s;

  &.active {
    left: -100%;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(53, 53, 53, 0.5);
  backdrop-filter: blur(3.5px);
  transition: 0.3s;
  z-index: 100;
}

@media (max-width: $widthTablet) {
  .container {
    padding: 12px 24px;
  }

  .box_icon {
    display: none;
  }

  .box_icon_mobile {
    display: block;
  }

  .right {
    gap: 28px;
  }

  .box_infor {
    .name {
      font-size: 16px;
    }
  }

  .box_avatar {
    width: 48px;
    height: 48px;
  }

  .main_mobile {
    &.active {
      left: 0;
    }
  }

  .overlay {
    opacity: 1;
    visibility: initial;

    &.close {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media (max-width: $widthMobile) {
  .container {
    padding: 8px 16px;
  }

  .right {
    gap: 20px;
  }

  .box_infor {
    .name {
      display: none;
    }
  }

  .box_avatar {
    width: 42px;
    height: 42px;
  }
}
